.h1{
    text-align: center;
    margin: auto;
}
.p{
   text-align: center;
   margin-top: 5%;
   margin-right: 15%;
   margin-left: 15%;
}
.back{
    background-color: coral;
}
.p1{
    text-align: right;
    margin-top: 1%;
    margin-right: 4%;
}
.h2{
    text-align: center;
    margin: auto;
}
#poga1{
    font-size: 5rem;
    margin-left: 30%;
}
#poga2{
    font-size: 10rem;
    margin-left: 35%;
}
#poga4{
    font-size: 10rem;
    margin-left: 35%;
}

#poga5{
    font-size: 1rem;
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 90%;
}
#form1{
    margin-left: 40%;
    margin-top: 2%;
}
.radio{
    margin-left: 40%;
    margin-top: 2%;
}
#sakt{
    font-size: 3rem;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.player{
    margin-left: 5%;
    margin-top: 2%;
    display: inline-block;
    margin: 30px;
}

.player button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}
#nameInputs{
    margin-top: 2%;
    margin-left: 35%;
}
#gameArea{
    margin-top: 2%;
    margin-left: 26%;
}