.h1{
    text-align: center;
}
.p{
   text-align: center;
   margin-top: 5%;
   margin-right: 15%;
   margin-left: 15%;
}
.p1{
    text-align: right;
    margin-top: 3%;
    margin-right: 4%;
}
.p2{
    text-align: right;
    margin-top: 1%;
    margin-right: 4%;
}
.h2{
    text-align: center;
    margin: auto;
}
#poga1{
    font-size: 2rem;
    margin: auto;
}
#poga2{
    margin-top: 2%;
    font-size: 7rem;
    margin: auto;
}
#poga4{
    font-size: 10rem;
    margin-left: 35%;
}

#poga5{
    font-size: 1rem;
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 90%;
}
#form1{
    margin-left: 40%;
    margin-top: 2%;
}
.radio{
    margin-left: 40%;
    margin-top: 2%;
}
#sakt{
    font-size: 3rem;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.player{
    margin-left: 5%;
    margin-top: 2%;
    display: inline-block;
    margin: 30px;
}

.player button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;

}
#nameInputs{
    margin-top: 5%;
}
#gameArea{
    margin-top: 2%;
    text-align: center; 
    background-color: rgb(225, 236, 200);
    width: 70%; 
    margin: 0 auto; 
}
#result{
    text-align: center;
    margin-top: 1%;
    font-size: 50px;
}
.container1{
    background-color:rgb(160, 196, 157);
    width: 70%; 
    margin: 0 auto; 
}
.container5{
    background-color:  rgb(245, 232, 183);
    width: 70%; 
    margin: 0 auto; 
}
.back{
    background-image: url(seamless-vector-abstract-pattern-rounded-irregular-compound-lines-inspired-nature-modern-repeatable-background-seamless-173965778.webp);
    background-repeat: repeat;
    background-attachment: scroll;
}
.container2{
    width: 70%; 
    margin: 0 auto; 
    background-color: rgb(196, 215, 178);

}
.image{
    border-radius: 50%;
}

#container4{
    background-color: rgb(247, 255, 229);
    width: 70%; 
    margin: 0 auto; 
}

.paprika-regular {
    font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
